<div id="local-div">
    <div id="highlight-txt">
        <p>{{hText}} <a href="#">{{hTextLink}}</a> {{hText2}} <a href="#">{{hTextLink2}}</a></p>    
    </div>

    <div id="text-video-1">
        <div id="section-text">
            <p>
                Our undergraduates work <a href="#">shoulder to shoulder with faculty</a>, tackle <a href="#">global challenges</a>, 
                pursue fundamental questions, and translate ideas into action. The lifeblood of the 
                Institute’s teaching and research enterprise, our <a href="#">graduate students</a> and <a href="#">postdocs </a>
                represent one of the most talented and diverse cohorts in the world. From science 
                and engineering to the arts, architecture, humanities, social sciences, and management, 
                and <a href="#">interdisciplinary programs</a>, we offer excellence across the board. We also pioneer 
                digital education — like <a href="#">NUx</a> — which offers flexible access to NU-rigorous content 
                for learners of all ages.
            </p>
        </div>
        <div id="section-vid">
            <video autoplay loop id="educ-vid">
                <source src="../../assets/education/education-1_0.mp4" type="video/mp4" autoplay loop muted playsinline>
                Your browser does not support the video tag.
            </video> 
        </div>
    </div>
    
    <hr/>

    <!-- SCHOOLS, DEPARTMENTS & THE COLLEGE -->
    <div class="s-d-c">
        <div class="s-d-c-text">
            <h2>Schools, Departments & the College</h2>
            <br>
            <p>
                Across NU, faculty help set the global standard of excellence in their disciplines: 
                They are pioneering scholars who love to teach. Deeply engaged in practice, they topple 
                conventional walls between fields in the push for deeper understanding and fresh ideas. 
                In fact, many faculty actively work in at least one of NU’s interdisciplinary labs, centers, 
                initiatives, and institutes that target crucial challenges, from <a href="#">clean energy</a> to <a href="#">cancer</a>.

                The NU Schwarzman College of Computing, opened in fall 2019, is a cross-cutting entity with 
                education and research links across all five schools.
            </p>
            <button>Explore Departments</button>
        </div>
        <div class="top-resources">
            <p>Top Resources</p>
            <ul class="ul-tp">
                <li><a href="#">Departments by School</a></li>
                <li><a href="#">School of Architecture and Planning</a></li>
                <li><a href="#">School of Engineering</a></li>
                <li><a href="#">School of Humanities, Arts, and Social Sciences</a></li>
                <li><a href="#">NU SLoan School of Management</a></li>
                <li><a href="#">School of Science</a></li>
                <li><a href="#">NU Schawarzman College of Computing</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <!-- TEACHING AND LEARNING -->
    <div class="s-d-c">
        <div class="s-d-c-text">
            <h2>Teaching & Learning</h2>
            <br>
            <p>
                Our campus is a workshop for inventing the future and we are all apprentices, 
                learning from each other as we go. Because we like to make things, and we like 
                to make an impact, iconic courses like <a href="">2.009</a> emphasize designing, inventing, 
                collaborating, and translating students’ expertise to reach the world. Through 
                signature experiential learning programs like <a href="">UROP</a>, <a href="">UPOP</a>, <a href="">MISTI</a>, <a href="">PKG</a>, <a href="">IAP</a>, <a href="">D-Lab</a>, 
                and <a href="">Sandbox</a>, students can pursue virtually infinite co-curricular and extracurricular 
                projects — here at NU, throughout the Greater Boston innovation hub, and around the 
                world. Honeycombed with legendary laboratories and dozens of <a href="">makerspaces</a>, a wind tunnel, 
                a research nuclear reactor, and a glass lab, our campus of idiosyncratically numbered 
                buildings adds up to a prime spot to make the most of your potential.
            </p>
        </div>

        <div class="top-resources">
            <p>Top Resources</p>
            <ul class="ul-tp">
                <li><a href="#">Registrar's Office</a></li>
                <li><a href="#">Course Catalog (NU Bulletin)</a></li>
                <li><a href="#">Doing Well</a></li>
                <li><a href="#">Office of the First Year</a></li>
                <li><a href="#">Office of Graduate Education</a></li>
                <li><a href="#">Office of Experiential Learning</a></li>
                <li><a href="#">Teaching + Learning Lab</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <!-- OPEN LEARNING -->
    <div class="s-d-c">
        <div class="s-d-c-text">
            <h2>Open Learning</h2>
            <br>
            <p>
                NU is pioneering new ways of teaching and learning, on our campus and around the world, 
                by inventing and leveraging digital technologies. <a href="">NUx</a>, the Institute’s portfolio of 
                massively open online courses, offers flexible access to a range of interactive courses 
                developed and taught by instructors from NU. Another NU innovation — the <a href="">MicroMasters</a> 
                credential — is increasingly recognized by industry leaders hiring new talent. And NU’s 
                original digital learning option, <a href="">OpenCourseWare</a>, continues to offer teachers and learners 
                worldwide the materials for more than 2,450 NU courses, freely available online.
            </p>
        </div>
        <div class="top-resources">
            <p>Top Resources</p>
            <ul class="ul-tp">
                <li><a href="#">NUx</a></li>
                <li><a href="#">First-year STEM Classes from NU</a></li>
                <li><a href="#">OpenCourseWare</a></li>
                <li><a href="#">NUx Micromasters</a></li>
                <li><a href="#">Open Learning</a></li>
                <li><a href="#">Residential Digital Innovations</a></li>
                <li><a href="#">Podcasts</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <!-- PROFESSIONAL & EXECUTIVE EDUCATION -->
    <div class="s-d-c">
        <div class="s-d-c-text">
            <h2>Professional & Executive Education</h2>
            <br>
            <p>
                For executives, managers, entrepreneurs, and technical professionals eager to tap fresh 
                thinking and new research from NU, we offer dozens of executive and professional programs. 
                Some are online. Some are on campus. Ranging from two days to 20 months, they all share 
                NU’s signature focus on practical solutions for the real world.
            </p>
        </div>
        <div class="top-resources">
            <p>Top Resources</p>
            <ul class="ul-tp">
                <li><a href="#">Professional & Executive Learning</a></li>
                <li><a href="#">NU Professional Education - School of Engineering</a></li>
                <li><a href="#">Sloan School of Management Executive Education</a></li>
                <li><a href="#">NU xPRO</a></li>
                <li><a href="#">Bootcamps</a></li>
            </ul>
        </div>
    </div>

</div>