<div id="footer">
    <div id="logo-text">
        <img src="../../assets/neighborhooduniversity_logo.png" alt="Neighborhood Logo" width="200px">
        <p class="univ-deets univ-deets-pd">Neighborhood University</p>
        <p class="univ-deets">77 Hood Avenue, Cambridge, MA, USA</p>
        <div id="external-links">
            <p><a href="#">Visit</a></p>
            <p class="pd-left"><a href="#">Map</a></p>
            <p class="pd-left"><a href="#">Events</a></p>
            <p class="pd-left"><a href="#">People</a></p>
            <p class="pd-left"><a href="#">Careers</a></p>
            <p class="pd-left"><a href="#">Contact</a></p>
        </div>
    </div>

    <div id="footer-sitemap">
        <ul class="pd-right">
            <li><a href="#">Education</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Innovation</a></li>
        </ul>
        <ul>
            <li><a href="#">Admissions+Aid</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About Neighborhood University</a></li>
        </ul>
    </div>
</div>