<body>
    <section id="upperSection">
        <div id="firstParagraph">
            <p>At NU, pushing the boundaries of knowledge and possibility is our joyful obsession, 
                and we celebrate fundamental discoveries and practical applications alike. 
                As educators, we also value research as a potent form of learning by doing. Through NU’s 
                Undergraduate Research Opportunities Program (UROP), more than 85% of undergraduates enrich their education through 
                engaging in frontline, faculty-led research.</p>  
        </div>
        
        <div id="videoAndText">
            <div id="secondParagraph">
                <p>Research flourishes in our 30 departments across five schools and one college, as well as in dozens of centers, labs, 
                    and programs that convene experts across disciplines to explore new intellectual frontiers and attack important societal problems. 
                    Our on-campus research capabilities are enhanced through the work of Neighborhood University Lincoln Laboratory,
                    the Woods Hole Oceanographic Institution, active research relationships with industry, and a wide range of global collaborations.
                    In this work, the Neighborhood University Libraries serve as a crucial partner and a source of important research in their own right.</p>
            </div>
            
            <div id="video">
            <video autoplay loop id="researchVideo">
                <source src="../../assets/researchPhotos/researchVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> 
            </div>
        </div>
    </section>
    <br>
    <hr color="maroon">

    <section id="labPrograms">
        <div id="labText">
            <h2>Centers, Labs & Programs</h2>
            <p>Neighborhood University continually develops organizations and partnerships that foster interdisciplinary work. 
                Listed here are just some of the MIT labs, centers, and programs where groundbreaking research is happening every day.</p>
        </div>
        <div id="labPictureDiv">
            <img id="labPic" src="../../assets/researchPhotos/labPicture.jpg">
            <br>
            NU researchers have devised a miniaturized system that can deliver tiny quantities of medicine to
             brain regions as small as 1 cubic millimeter. 
        </div>
    </section>
    <br>
    <hr color="maroon">

    <section id="collaborations">
        <div id="collaborationsText">
            <h2>Collaborating Institutions</h2>
            <p>Neighborhood University researchers collaborate with many leading local, national, and international organizations to further drive exploration.</p>
        </div>
        <div id="collaborationsPictureDiv">
            <img id="collaborationsPic" src="../../assets/researchPhotos/collaborationsPic.jpeg">
            <br>
            Researchers from NU and the Charles Stark Draper Laboratory are developing a new space
             boot with built-in sensors and tiny “haptic” motors, whose vibrations can guide the wearer 
             around or over obstacles. 
        </div>
    </section>

    <div id="picContainer">
        <div id="topImagesContainer">
            <img src="../../assets/researchPhotos/pic1.jpg" class="imagesTop" alt="image">
            <img src="../../assets/researchPhotos/pic2.jpg" class="imagesTop" alt="image">
            <img src="../../assets/researchPhotos/pic3.jpeg" class="imagesTop" alt="image">
            <img src="../../assets/researchPhotos/pic4.jpeg" class="imagesTop" alt="image">
        </div>
        <div id="botImagesContainer">
            <img src="../../assets/researchPhotos/pic5.jpeg" class="imagesBot" alt="image">
            <img src="../../assets/researchPhotos/pic6.jpeg" class="imagesBot" alt="image">
            <img src="../../assets/researchPhotos/pic7.jpg" class="imagesBot" alt="image">
            <img src="../../assets/researchPhotos/pic8.jpeg" class="imagesBot" alt="image">
        </div>
    </div>

    <footer>
        <p>Want more about NU?</p>
        <p>Explore <a href="#" class="p-link-yellow">more spotlights</a>, or subscribe to receive <a href="#" class="p-link-yellow">daily or weekly doses of MIT</a> in your inbox.</p>
    </footer>
</body>