<body>
    <section id="upperSection">
        <div id="firstParagraph">
            <p>Intensely curious and driven to explore, the people of NU value rigorous analytical thinking, ingenuity, hands-on problem solving, and big new ideas. Stimulating, supportive, and playful, the NU community becomes, for many students, a second home.</p>  
        </div>
        
        <div id="videoAndText">
            <div id="secondParagraph">
                <p>In our undergraduate, graduate, and professional admissions, we seek applicants whose strengths, interests, and values are a good match for NU. Because the Institute is built on the idea that talent and good ideas can come from anywhere, we are a remarkably diverse community, drawing students from all 50 states and from 118 countries. Many are members of the first generation in their family to have the opportunity for higher education. Above all, our students learn not to be afraid of hard problems, making their NU education a springboard for many careers — and practical preparation for life.</p>
            </div>
            
            <div id="video">
            <video autoplay loop id="aboutVideo">
                <source src="../../assets/admissions+aid/admissions1.mp4" type="video/mp4">
            </video> 
            </div>
        </div>
    </section>

    <hr color="maroon">

    <section id="labPrograms">
        <div id="labText">
            <h2>Undergraduate Admissions & Aid</h2>
            <p>All prospective undergraduate students apply through the Office of Undergraduate Admissions, regardless of their intended program of study. On the undergraduate admissions site, you can learn more about our application process and read student blogs about life at NU.</p>
            <br>
            <h3>Top Resources</h3>
            <ol type="1">
                <li>Undergraduate Admissions</li>
                <li>Undergraduate Financial Aid</li>
                <li>First-Year Class Profile (2024)</li>
                <li>Undergraduate Student Blogs</li>
            </ol>
        </div>
    </section>

    <hr color="maroon">

    <section id="collaborations">
        <div id="collaborationsText">
            <h2>Graduate Admissions & Aid</h2>
            <p>To pursue graduate study at MIT, you need to apply to one of our departmental programs. Each department has its own application website and admissions requirements.</p>
            <br>
            <h3>Top Resources</h3>
            <ol>
                <li>Graduate Admissions</li>
                <li>Graduate Financial Aid</li>
                <li>Graduate Student Blogs</li>
            </ol>
        </div>
    </section>

    <section id="collaborations">
        <div id="collaborationsText">
            <h2>Professional & Executive Education</h2>
            <p>For professionals in the workforce and for learners anywhere eager for NU content without the full-time commitment of a traditional degree program, we offer a range of educational options — some online, some on campus, and some a blend of both.</p>
            <br>
            <h3>Top Resources</h3>
            <ol>
                <li>NU Professional Education</li>
                <li>NU Sloan School of Management Executive Education</li>
                <li>NU xPRO</li>
                <li>NUx MicroMasters</li>
                <li>NU Bootcamps</li>
            </ol>
        </div>
    </section>
    <app-footer></app-footer>
</body>