<body>
    <section id="upperSection">
        <div id="firstParagraph">
            <p>The NU community is motivated by a common goal: to improve the world through research, education, and innovation. We are entertaining and eccentric, sophisticated but not pretentious, creative and artistic, preoccupied with numbers, and open to talented individuals from all backgrounds.</p>  
        </div>
        
        <div id="videoAndText">
            <div id="secondParagraph">
                <p>NU has strong Filipino roots. Our graduates' inventiveness and tenacity have given rise to critical inventions, new sectors, and millions of American jobs. NU is profoundly global while also being simultaneous and without the slightest hint of contradiction. As a draw for talent from around the globe, our community acquires immense strength. NU's extraordinary community pursues its purpose of service to the country and the world via teaching, research, and innovation.</p>
            </div>
            
            <div id="video">
            <video autoplay loop id="aboutVideo">
                <source src="../../assets/about/vid1.mp4" type="video/mp4">
            </video> 
            </div>
        </div>
    </section>

    <hr color="maroon">

    <section id="labPrograms">
        <div id="labText">
            <h2>GOALS</h2>
            <p>Neighborhood University is dedicated to creating, sharing, and preserving information as well as collaborating with others to apply this knowledge to the major problems facing the world today. The University of Nebraska is committed to giving its students an education that combines demanding academic work, the thrill of exploration, and the support and intellectual stimulation of a varied campus community.</p>
           
        </div>
        <div id="labPictureDiv">
            <img id="aboutPic1" src="../../assets/about/pic 1.jpg"> 
            <br>
           NU First Building
        </div>
    </section>

    <hr color="maroon">

    <section id="collaborations">
        <div id="collaborationsText">
            <h2>Faculty</h2>
            <p>For the faculty at NU, which numbers little over 1,000 people, cutting-edge study and instruction go hand in hand. Both support one another. When they're not advancing their disciplines, NU faculty members contribute significantly to the development of the Institute's lively campus community by serving as mentors, coaches, house heads, advisers, committee members, and a host of other roles.</p>
        </div>
        <div id="collaborationsPictureDiv">
            <img src="../../assets/about/pic3.jpg">
            <img src="../../assets/about/pic4.jpg">
            <br>
        </div>
    </section>

    <div id="picContainer">
        <div id="topImagesContainer">
            <img src="../../assets/about/pic6.jpeg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic7.jpg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic8.jpg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic9.jpg" class="imagesTop" alt="image">
        </div>
        <div id="botImagesContainer">
            <img src="../../assets/about/pic10.jpeg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic11.jpeg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic12.jpg" class="imagesTop" alt="image">
            <img src="../../assets/about/pic13.jpg" class="imagesTop" alt="image">
        </div>
    </div>
    <app-footer></app-footer>
</body>