nav{
    background-color: #A8A8A8;
}

nav img{
    width: 50px;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block;
    padding: 15px;
    padding-top: 4%;
}

li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul li a:hover{
    color: white;
}

ul li a:active{
    color: white;
}