<div id="navbar">
  <div id="logo">
    <!-- <img src="../assets/National_University_seal.png" alt="National University Logo" width="60px"> -->
  </div>
  <div id="navigation-links">
    <nav>
      <ul>
        <li><a routerLink="education">Education</a></li>
        <li><a routerLink="">Research</a></li>
        <li><a routerLink="">Innovation</a></li>
        <li><a routerLink="">Admissions+Aid</a></li>
        <li><a routerLink="">News</a></li>
        <li><a routerLink="">About {{title}}</a></li>
      </ul>
    </nav>
  </div>
</div> 
<router-outlet></router-outlet>