#navbar{
    display: flex;
    align-items: center;
    gap: 30%;
    border-bottom: 0.5px solid black;
}
#logo{
    display: flex;
}

#logo img{
    padding: 10px;
    padding-left: 20px;
}
#navigation-links{
    display: flex;
}
nav{
    display: flex;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

ul li{
    padding: 15px;
}

li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

ul li a:hover{
    border-bottom: 2px solid black;
}

ul li a:active{
    color: white;
}