<div id="navbar">
  <div id="logo">
    <a href=""><img src="../assets/neighborhooduniversity_logo.png" alt="NU Logo" width="70px"></a>
  </div>
  <div id="navigation-links">
    <nav>
      <ul>
        <li><a routerLink="education">Education</a></li>
        <li><a routerLink="research">Research</a></li>
        <li><a routerLink="">Innovation</a></li>
        <li><a routerLink="">Admissions+Aid</a></li>
        <li><a routerLink="">News</a></li>
        <li><a routerLink="about">About {{title}}</a></li>
        <li><a routerLink="login">Log in</a></li>
      </ul>
    </nav>
  </div>
</div> 
<router-outlet></router-outlet>