<div id="navbar">
  <div id="logo">
    <img src="../assets/National_University_seal.png" alt="National University Logo" width="60px">
  </div>
  <div id="navigation-links">
    <nav>
      <ul>
        <li><a href="">Education</a></li>
        <li><a href="">Research</a></li>
        <li><a href="">Innovation</a></li>
        <li><a href="">Admissions+Aid</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About {{title}}</a></li>
      </ul>
    </nav>
  </div>
</div> 

<app-home></app-home>