<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class = "banner">
            <div class = "banner-main-content">
                <h2>LATEST NEIGHBORHOOD NEWS</h2>
                <h3>ON CAMPUS AND AROUND THE WORLD</h3>

                <button>
                    <a href = "#">Know More</a>
                </button>

                <div class = "current-news-head">
                    <h3>A whole new world of learning via Neighborhood OpenCourseWare videos</h3>

                    <h3>Can your phone tell if a bridge is in good shape?</h3>

                    <h3>Study urges caution when comparing neural networks to the brain</h3>

                    <h3>A new control system for synthetic genes</h3>
                </div>
            </div>

            <div class = "banner-sub-content">
                <div class = "hot-topic">
                    <img src = "../../assets/news/1.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>An easier way to remove medical devices</h2>
                        <p>Metal stents or staples that disintegrate on demand inside the body could eliminate some surgical and endoscopic procedures.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "../../assets/news/2.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Exploring education from all angles</h2>
                        <p>Senior David Spicer advocates for students at NU and beyond as he cultivates his interest in education policy.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "../../assets/news/3.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>New research collaboration aims to tackle global societal challenges through design</h2>
                        <p>Hasso Plattner Institute-NU Research Program on Designing for Sustainability will focus on sustainable design, innovation, and digital technologies.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "../../assets/news/4.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>NU engineers develop a low-cost terahertz camera</h2>
                        <p>The device provides greater sensitivity and speed than previous versions, and could be used for industrial inspection, airport security, and communications.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        
        <hr>

        <main>
            <section class = "main-container-left">
                <h2>Top Stories</h2>
                <div class = "container-top-left">
                    <article>
                        <img src = "../../assets/news/5.jpg">

                        <div>
                            <h3>Lincoln Laboratory launches summer internships for local high schoolers</h3>
                            <p>Guided by mentors, students explore STEM careers and home in on college majors.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>
                </div>

                <div class = "container-bottom-left">
                    <article>
                        <img src = "../../assets/news/6.jpg">
                        <div>
                            <h3>“Ballet des Porcelaines” at Neighboorhood University</h3>
                            <p>A contemporary reinterpretation of an 18th century ballet reveals the fragility of orientalist fantasies.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>

                    <article>
                        <img src = "../../assets/news/7.jpg">
                        <div>
                            <h3>New materials could enable longer-lasting implantable batteries</h3>
                            <p>Pacemakers and other medical devices, as well as long-distance drones and remote sensors, could require fewer battery replacements with new approach.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>
                </div>
            </section>

            <section class = "main-container-right">
                <h2>Latest Stories</h2>
                
                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>In machine learning, synthetic data can offer real performance improvements</h2>
                        <p>Models trained on synthetic data can be more accurate than other models in some cases, which could eliminate some privacy, copyright, and ethical concerns from using real data.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "../../assets/news/8.jpg">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Advancing the energy transition amidst global crises</h2>
                        <p>Neighborhood University Energy Initiative Annual Research Conference highlights both opportunities and obstacles in the race to a net-zero future.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "../../assets/news/9.jpg">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>3 Questions: Supporting student veterans at NU</h2>
                        <p>Liam Gale of the Student Veteran Success Office describes experiences of student veterans and how the Institute supports them.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "../../assets/news/10.jpg">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Urbanization: No fast lane to transformation</h2>
                        <p>Associate Professor Noah Nathan is generating a body of scholarship on the political impacts of urbanization throughout the global South.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "../../assets/news/11.jpg">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Video on the record </h2>
                        <p>Neighborhood's inaugural Bearing Witness, Seeking Justice conference explores video’s role in the struggle over truth and civil liberties.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "../../assets/news/12.png">
                </article>
            </section>
        </main>
    </body>
    <app-footer></app-footer>
</html>