
<div id="container">
    <div id="resources">
        <img src="../../assets/313196390_805391284184229_4907178396951168339_n.png" alt="National University Logo" width="200px">

        <div id="footer-sidebar">
            <p>Neighborhood University</p>
            <p>77 hood Avenue, Cambridge, MA, USA</p>
            <div id="footer-sidebar-links">
                <p><a href="#">Visit</a></p>
                <p><a href="#" style="padding-left: 5px;">Map</a></p>
                <p><a href="#" style="padding-left: 5px;">Events</a></p>
                <p><a href="#" style="padding-left: 5px;">People</a></p>
                <p><a href="#" style="padding-left: 5px;">Careers</a></p>
                <p><a href="#" style="padding-left: 5px;">Contact</a></p>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="first-content">
            <img src="../../assets/home/MIT-delocalized-learning-SL.jpg" alt="NU Delocalized Learning">
        </div>
        <div >
            <p class="first-content-text"><a href="#" class="p-link">{{highlightName2}}</a>  {{highlight}} <a href="#" class="p-link">{{highlightName}}</a></p>
            <p>{{highlightDate}}</p>
        </div>
        <div id="more-from">
            <p>MORE FROM NEIGHBORHOOD UNIVERSITY</p>
        </div>
        <div id="featured-article">
            <!-- FIRST ARTICLE -->
            <div class="article" id="featured-article-1">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="NU Event" width="600px">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- SECOND ARTICLE -->
            <div class="article" id="featured-article-2">
                <figure>
                    <img src="../../assets/home/ThisIsMIT2.jpg" alt="#THISISNU" width="600px">
                    <figcaption>#THISISNU</figcaption>
                    <p><a href="#">{{secondArticle}}</a></p>
                </figure>
            </div>
            <!-- THIRD ARTICLE -->
            <div class="article" id="featured-article-3">
                <figure>
                    <img src="../../assets/home/MIT_Face-Mask-Fit-sub.jpg" alt="NU FaceMask Fit" width="600px">
                    <figcaption>RESEARCH NEWS</figcaption>
                    <p><a href="#">{{thirdArticle}}</a></p>
                </figure>
            </div>
            <!-- FOURTH ARTICLE -->
            <div class="article" id="featured-article-4">
                <figure>
                    <img src="../../assets/home/MIT-Kornbluth-SL_04.jpg" alt="NU-Kornbluth" width="600px">
                    <figcaption>IN THE MEDIA</figcaption>
                    <p><a href="#">{{fourthArticle}}</a></p>
                </figure>
            </div>
            <!-- FIFTH ARTICLE -->
            <div class="article" id="featured-article-5">
                <figure>
                    <img src="../../assets/home/MIT-Melissa_Nobles_01-PRESS_05.jpg" alt="MIT-Melissa Nobles" width="600px">
                    <figcaption>NU IN THE WORLD</figcaption>
                    <p><a href="#">{{fifthArticle}}</a></p>
                </figure>
            </div>
            <!-- SIXTH ARTICLE -->
            <div class="article" id="featured-article-6">
                <figure>
                    <img src="../../assets/home/MIT-family6.jpg" alt="NU Family" width="600px">
                    <figcaption>#THISISNU</figcaption>
                    <p><a href="#">{{sixthArticle}}</a></p>
                </figure>
            </div>
        </div>
        <div id="footer">
            <p>Want more about NU?</p>
            <p>Explore <a href="#" class="p-link-yellow">more spotlights</a>, or subscribe to receive <a href="#" class="p-link-yellow">daily or weekly doses of NU</a> in your inbox.</p>
        </div>
    </div>
</div>