
<div id="container">
    <div id="resources">resources
        
    </div>
    <div id="main-content">
        <div class="first-content">
            <img src="../../assets/home/MIT_Face-Mask-Fit-SL.jpg" alt="Face Mask">
        </div>
        <div >
            <p class="first-content-text">{{hightlight}} <a href="#" class="p-link">{{highlightName}}</a> {{highlight2}}</p>
            <p>{{highlightDate}}</p>
        </div>
        <div id="more-from">
            <p>MORE FROM NEIGHBORHOOD UNIVERSITY</p>
        </div>
        <div id="featured-article">
            <!-- FIRST ARTICLE -->
            <div class="article" id="featured-article-1">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- SECOND ARTICLE -->
            <div class="article" id="featured-article-2">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- THIRD ARTICLE -->
            <div class="article" id="featured-article-3">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- FOURTH ARTICLE -->
            <div class="article" id="featured-article-4">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- FIFTH ARTICLE -->
            <div class="article" id="featured-article-5">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
            <!-- SIXTH ARTICLE -->
            <div class="article" id="featured-article-6">
                <figure>
                    <img src="../../assets/home/MIT-event11.jpg" alt="MIT Event">
                    <figcaption>AROUND CAMPUS</figcaption>
                    <p><a href="#">{{aroundCampus}}</a></p>
                </figure>
            </div>
        </div>
    </div>
</div>